<div class="row align-items-md-stretch mb-5 mt-5">
    <!-- Contenitore 1 -->
    <div class="col-md-6">
        <div class="h-70 p-5 bg-dark text-white border rounded-3 shadow assistenza">
            <h2>Resi &amp; Rimborsi</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium hic debitis, rem consequuntur magni. Omnis fugiat tenetur labore minus!
            </p>
            <button class="btn btn-info" type="button" (click)="assistenza()">
                Contattaci
            </button>
        </div>
    </div>
    <!-- Contenitore 2 -->
    <div class="col-md-6">
        <div class="h-70 p-5 bg-dark text-white border rounded-3 shadow assistenza">
            <h2>F.A.Q</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit ut laborum corrupti expedita est odio molestiae facere esse dolor?
            </p>
            <button class="btn btn-info" type="button" (click)="assistenza()">
                Contattaci
            </button>
        </div>
    </div>

    <!-- Contenitore 3 -->
    <div class="col-md-6 mt-3">
        <div class="h-70 p-5 bg-dark text-white border rounded-3 shadow assistenza">
            <h2>Lavora con Noi!</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit ut laborum corrupti expedita
                est odio molestiae facere esse dolor?
            </p>
            <button class="btn btn-info" type="button" (click)="assistenza()">
                Contattaci
            </button>
        </div>
    </div>

    <!-- Contenitore 4 -->
    <div class="col-md-6 mt-3">
        <div class="h-70 p-5 bg-dark text-white border rounded-3 shadow assistenza">
            <h2>Assistenza Garanzia</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit ut laborum corrupti expedita
                est odio molestiae facere esse dolor?
            </p>
            <button class="btn btn-info" type="button" (click)="assistenza()">
                Contattaci
            </button>
        </div>
    </div>
</div>

